Q1. 평균 점수 구하기

In [1]:
(80 + 75 + 55) / 3

70.0

Q2. 자연수 13이 홀수인지 짝수인지 확인 방버

In [17]:
13 % 2 #값이 0이 아니면 홀수임

1

Q3. 주민등록번호를 나눠서 출력하기

In [39]:
a = "881120-1068234"
year = a[:4]
month = a[4:6]
day = a[6:8]
ather = a[8:]

In [40]:
year + month + day + ather

'881120-1068234'

Q4. 주민등록번호의 성별 숫자 출력

In [41]:
a[7]

'1'

Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [52]:
a = "a:b:c:d"
a.replace(":","#") 
#여기서 a를 저장하지 않고a를 출력하면 replace 함수가 적용되지 않는지?

'a#b#c#d'

In [53]:
a = "a:b:c:d"
a = a.replace(":","#") 
a

'a#b#c#d'

In [54]:
a = "a:b:c:d"
a.replace(":","#") 
a

'a:b:c:d'

Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [56]:
a = [1,3,5,4,2]
a.sort()
a

[1, 2, 3, 4, 5]

Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [91]:
a = ['Life', 'is', 'too', 'short']

In [92]:
" ".join(a)

'Life is too short'

Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [154]:
a = (1,2,3)

In [157]:
b = (4)

In [158]:
a+b

TypeError: can only concatenate tuple (not "int") to tuple

In [162]:
b = a + (4)
b

TypeError: can only concatenate tuple (not "int") to tuple

In [163]:
b = a + (4, 5)
b

(1, 2, 3, 4, 5)

Q9. a = dict()
   a
   {}
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
#### a['name'] = 'python'
#### a[('a',)] = 'python'
#### a[[1]] = 'python'
#### a[250] = 'python'

In [164]:
a = dict()
a

{}

In [170]:
a['name'] = "python"  #쌍 추가

In [171]:
a[('a',)] = 'python' # ('a',)자체가 key

In [175]:
a["a",]

'python'

In [176]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [177]:
a[250] = 'python' # 쌍 추가, 숫자는 "" 없이 가능

In [179]:
a

{'name': 'python', ('a',): 'python', 250: 'python'}

Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [183]:
a = {'A':90, 'B':80, 'C':70}

In [184]:
a.pop("B")

80

Q11. a 리스트에서 중복 숫자를 제거해 보자.

In [186]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [191]:
b = set(a)

In [192]:
b

{1, 2, 3, 4, 5}

Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [205]:
a = b = [1,2,3]
a[1] = 4

print(b)

[1, 4, 3]

In [207]:
c = d = [1,2,3]
d[1] = 4

print(c)

[1, 4, 3]

a와 b 리스트가 같은 것이니, a가 바뀌니까 b도 바뀌는 건가?