초보자를 위한 파이썬 300제 <br>
Python300_051_080 <br>
문제: 051~080  <br>
시작일: 2022.02.20 <br>
완료일: 2022.02.20 <br>
URL: https://wikidocs.net/7014 <br>
도움: https://www.youtube.com/playlist?list=PLNPt2ycoheHqhS_OP4XA8nWycWQWnQtki <br>

In [11]:
#051

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]

In [12]:
#052

movie_rank.append("베트맨")
print(movie_rank)

['닥터스트레인지', '스플릿', '럭키', '베트맨']

In [13]:
#053

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [14]:
#054

del movie_rank[3]
print(movie_rank)

['닥터스트레인지', '슈퍼맨', '스플릿', '베트맨']

In [15]:
#055

del movie_rank[2]
del movie_rank[2]

print(movie_rank)

['닥터스트레인지', '슈퍼맨']

In [18]:
#056

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2

print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [23]:
#057

nums = [1, 2, 3, 4, 5, 6, 7]

print(max(nums))
print(min(nums))

7
1

In [25]:
#058

nums = [1, 2, 3, 4, 5]

print(sum(nums))

15

In [27]:
#059

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [28]:
#060

nums = [1, 2, 3, 4, 5]

average = sum(nums)/len(nums)

print(average)

3.0

In [30]:
#061

price = ['20180728', 100, 130, 140, 150, 160, 170]

price[1:]

[100, 130, 140, 150, 160, 170]

In [34]:
#062

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

nums[::2]

[1, 3, 5, 7, 9]

In [45]:
#063

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [46]:
#064

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [50]:
#065

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [61]:
#066

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [63]:
#067

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [64]:
#068

#067

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [73]:
#069

string = "삼성전자/LG전자/Naver"

string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [80]:
#070

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [82]:
#071

my_variable = ()

In [87]:
#072

my_variable = ("닥터 스트레인지", "스플릿","럭키")

In [89]:
#073

data = (1, )
type(data)

tuple

In [95]:
#074

t = (1,2,3)
t[0] = "a"

TypeError: 'tuple' object does not support item assignment

In [96]:
#075

t = 1,2,3,4
type(t)

tuple

In [97]:
#076

t = ('a', 'b', 'c')
t = ("A", "b", "C")

In [99]:
#077

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [100]:
#078

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [101]:
#079

temp = ("apple","banana","cake")
a,b,c = temp
print(a,b,c)

apple banana cake

In [103]:
#080

print(tuple(range(2,100,2)))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)