Q1. 평균 점수 구하기

In [1]:
(80 + 75 + 55) / 3

70.0

Q2. 자연수 13이 홀수인지 짝수인지 확인 방버

In [17]:
13 % 2 #값이 0이 아니면 홀수임

1

Q3. 주민등록번호를 나눠서 출력하기

In [23]:
a = "881120-1068234"
year = a[:4]
month = a[4:6]
day = a[6:8]
ather = a[8:]

In [24]:
year + month + day + ather

'881120-1068234'

Q4. 주민등록번호의 성별 숫자 출력

In [27]:
a[7]

'1'

Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.